{%block clarification%}
                <div class="tab-pane fade" id="dialog" role="tabpanel" aria-labelledby="dialog-tab">

                  <br>

                  <br>
                  	<div class="row">

        	        <div class="col-lg-6">
        	        	<form  method="GET" id="search2">
                          <h5 class="card-title">Search Database</h5>
                          <div class="input-group">
                            <input type="hidden" name="condition" value="2" />
                            <input type="text" class="form-control form-inline" placeholder="Search query here ..." name="q2" value="{{ request.GET.q }}">
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit" name="searchbtn">Search</button>
                            </span>
                          </div>
                        </form>
        	        </div>

        	        <div class="col-lg-6">
        	            <form  method="GET" id = "clarification2">
        	              <h5 class="card-title">Ask clarification questions</h5>
        	              <div class="input-group">
        	                <input type="text" class="form-control form-inline" placeholder="Ask your questions here ..." name="ques" id ="clarify_id">
        	                <span class="input-group-btn">
        	                  <button class="btn btn-danger" type="submit" name="questionsbtn">Question</button>
        	                </span>
        	              </div>

        	            </form>
        	        </div>

                	</div>
                </div>
{%endblock%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
