{% load staticfiles %}
{%block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>searchBOT.</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href='{% static "css/docs.min.css" %}' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{% static "css/navbar.css" %}'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
      body {
          background-color: #FAFAFA;
          margin:0px;
          padding:0px;
      }
      .footer {
        padding-top: 1.5rem;
        color: #777;
      }
      .input-group {
        padding-top: 6px;
      }
      .btn:hover {background-color: #E0E0E0}

      .btn:active {
        background-color: #E0E0E0;
        box-shadow: 0 2px #666;
      }
      .container {
          background-color: #FAFAFA;
          margin-left: 50px;
      }
      h5 small { font-size:70%; color: #b0d3e6;}
      .run-in { display:inline; }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500i" rel="stylesheet">

{%endblock%}