{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    {%block head%}
    {%endblock%}

  </head>

  <span id="loader"></span>

  <body>
      {% include 'nav_bar.html' %}
      {% block nav_bar%}
      {%endblock%}
    
    <div class="container">
      {% include 'search_results.html' %}
      {% block search_results%}
      {%endblock%}
       
      {% include 'pagination.html' %}
      {% block pagination %}
      {% endblock %}

    </div>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  
    <script type="text/javascript">
      // Things we need to log: session_id; user_id; task_id; interface_id; page_id; rank where necessary; event; active or not;timestamp
      var focus_in = 0;
      var focus_out=0;

      var focus_begin_time =0;
      var time_spent = 0;
      $(document).ready(function(){
        
        // The page just got loaded, so it has focus. Initiate a variable here, or make a call, that the focus is here. 
        focus_begin_time = Date.now()
        console.log('Page just got loaded mate, and the time is:'+focus_begin_time);


        $('.bd-callout.bd-callout-info.bd-callout-shadow a').mousedown(function() {
          var rank = parseInt($(this).data('id').substring($(this).data('id').lastIndexOf('.')+1,$(this).data('id').length)) + 1;
          console.log("Rank of the link clicked:"+rank);
        });

        $('.pagination a').mousedown(function() {
          var page = $(this).data('page');
          console.log("Page clicked:"+page);
        });

        $(window).focusout(function() { 
          // This is the part where the user loses focus of the screen. 
          time_spent = Date.now()-focus_begin_time;
          console.log("We have lost focus, total time spent:"+time_spent);
          console.log("seconds elapsed:"+Math.floor(time_spent/1000));
          console.log('--------------------------')
        });

        $(window).focusin(function() { 
          // This is the part where the user takes focus again. 
          focus_begin_time = Date.now()
          console.log("New time stamp:"+focus_begin_time);
        });



// Types of clicks 

  /*      Ok, this part is not really working. I need to fix this. 
        //$(window).focusin(function() { 
        //  focus_in ++;
          console.log("We are in focus now:"+focus_in);
        });
        $(window).focusout(function() { 
          focus_out++;
          console.log("We have lost focus:"+focus_out);
        });
        //$(window).blur(function() { console.log("SO I see a blur now")});
        //$(window).focus(function() { console.log("We got focus now baby!")});


        $(window).focusout(function() { 
          focus_out++;
          console.log("We have lost focus:"+focus_out);
        });

        $(window).focus(function() { 
          focus_in ++;
          console.log("I have focus:"+focus_in);
        });

*/

      });

    </script>

  </body>
</html>
