{%block nav_bar%}
<nav class="navbar sticky-top navbar-light bg-faded" style="background-color: white;">
        <div class="row">
          <div class="col-lg-2">
            <a href="#" class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#9E9E9E">search</font><font color="#b0d3e6"><b>BOT.</b></font></a>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        
</nav>
{%endblock%}
