{% load staticfiles %}
{% load title_edit %}
{% load snippet_edit %}
{% load date_edit %}
{% load url_edit_web %}
{% load onlineSections_edit %}

{% block search_results%}

<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

<!-- Custom styles for this template -->
<link href='{% static "css/offcanvas.css" %}' rel="stylesheet">

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Search Results</h6>
</div>



{% for result in results %}

    {% if result.thumbnailUrl|length > 0 %}
    <div class="my-3 p-3 bg-white rounded box-shadow" data-id='{{result.id}}' data-url='{{ result.url }}'>
      <div class="media text-muted pt-3">
        <img data-src="{{ result.thumbnailUrl }}" alt="32x32" class="mr-2 rounded" src="{{ result.thumbnailUrl }}" data-holder-rendered="true" style="width: 32px; height: 32px;">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark"><a href="{{ result.url }}" target = "_blank" data-id='{{result.id}}' data-url='{{ result.url }}'>{{ result.name|title_edit }}</a></strong>
            <font style="font-size:14px;" color="#659663">{{ result.displayUrl|title_edit }}</font>
            <p><font style="font-size:14px;" color="#9E9E9E">{{ result.dateLastCrawled|date_edit }} - </font>{{ result.snippet|safe }}</p>
          </div>
        </div>
      </div>
      <small class="d-block text-right mt-3">
        <button class="btn btn-success" type="submit" name="sendresultsbtn">Send</button>
      </small>
    </div>

    {% else %}

    <div class="my-3 p-3 bg-white rounded box-shadow" data-id='{{result.id}}' data-url='{{ result.url }}'>
      <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark"><a href="{{ result.url }}" target = "_blank" data-id='{{result.id}}' data-url='{{ result.url }}'>{{ result.name|title_edit }}</a></strong>
            <font style="font-size:14px;" color="#659663">{{ result.displayUrl|title_edit }}</font>
            <p><font style="font-size:14px;" color="#9E9E9E">{{ result.dateLastCrawled|date_edit }} - </font>{{ result.snippet|safe }}</p>
          </div>
        </div>
      </div>
      <small class="d-block text-right mt-3">
        <button class="btn btn-success" type="submit" name="sendresultsbtn">Send</button>
      </small>
    </div>

{% endfor %}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href='{% static "css/docs.min.css" %}' rel="stylesheet">
<link rel="stylesheet" type="text/css" href='{% static "css/navbar.css" %}'>
     {% for result in results %}
        {% if result.thumbnailUrl|length > 0 %}
            <div class="bd-callout bd-callout-info bd-callout-shadow" data-id='{{result.id}}' data-url='{{ result.url }}'>
              <div class="row">
                <div class="col-md-1">
                  <a href="{{ result.url }}" target = "_blank" data-url='{{ result.url }}'><img src="{{ result.thumbnailUrl }}" alt="Smiley face" width="80" height="80" class="rounded float-left"></a></div>
                <div class="col-md-10">
                  <h5 id="dealing-with-specificity"><font color="red"><a href="{{ result.url }}" target = "_blank" data-id='{{result.id}}' data-url='{{ result.url }}'>{{ result.name|title_edit }}</a></font></h5>
                  <font style="font-size:14px;" color="#659663">{{ result.displayUrl|title_edit }}</font>
                  <p><font style="font-size:14px;" color="#9E9E9E">{{ result.dateLastCrawled|date_edit }} - </font>{{ result.snippet|safe }}</p>

                </div>
                <div class="col-md-1" id='{{result.id}}' data-url='{{ result.url }}'>
                        <button class="btn btn-success" type="submit" name="sendresultsbtn">Send</button>
                </div>

              </div>
            </div>

        {% else %}

            <div class="bd-callout bd-callout-info bd-callout-shadow" data-id='{{result.id}}' data-url='{{ result.url }}'>
              <div class="row">
                <div class="col-md-11">
                  <h5 id="dealing-with-specificity"><font color="red"><a href="{{ result.url }}" target = "_blank" data-id='{{result.id}}' data-url='{{ result.url }}'>{{ result.name|title_edit }}</a></font></h5>
                  <font style="font-size:14px;" color="#659663">{{ result.displayUrl|title_edit }}</font>
                  <p><font style="font-size:14px;" color="#9E9E9E">{{ result.dateLastCrawled|date_edit  }} - </font>{{ result.snippet|safe }}</p>
                </div>
                <div class="col-md-1" id ="{{result.id}}" data-url='{{ result.url }}'>
                          <button class="btn btn-success" type="submit" name="sendresultsbtn">Send</button>
                </div>

              </div>
            </div>

        {% endif %}
      {% endfor %}

      <nav aria-label="Page navigation example">
        {% if results.has_other_pages%}
        <ul class = "pagination" id="pagination">
          <!--<span class="step-links">-->
              {% if results.has_previous %}
                  <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&page={{ results.previous_page_number }}&searchbtn=" data-params="" data-page="{{ results.previous_page_number }}">Previous</a></li>
              {% else %}
                  <li class="page-item disabled"><a class="page-link" href="" data-page="0"><span>Previous</span></a></li>
              {% endif %}

              {% for result in results.paginator.page_range %}
                  {% if results.number == result%}
                      <li class="page-item active"><a class="page-link" href="" data-params="" data-page="{{ result }}"><span>{{ result }}<span class="sr-only">(current)</span></span></a></li>
                  {% else %}
                      <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&page={{ result }}&searchbtn=" data-params="" data-page="{{ result }}">{{ result }}</a></li>
                  {% endif %}
              {% endfor %}
              {% if results.has_next %}
                  <a class="page-link" href="?q={{ request.GET.q }}&page={{ results.next_page_number }}&searchbtn=" data-params="" data-page="{{ results.next_page_number }}">Next</a>
              {% endif %}
          <!--</span>-->
        </ul>
        {% endif %}
      </nav>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/interactions.js" %}"></script>

{%endblock%}
