{%block search_tab%}
<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                <br>
                <br>
                <div class = "row">
                <div class="col-lg-6">
                    <form  method="GET" id="search1">
                      <h5 class="card-title">Search Database</h5>
                      <div class="input-group">
                        <input type="text" class="form-control form-inline" placeholder="Search query here ..." name="q" value="{{ request.GET.q }}">
                        <input type="hidden" name="condition" value="1" />
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit" name="searchbtn">Search</button>
                        </span>
                      </div>
                    </form>
                </div>
                </div>
</div>
{%endblock%}
