{% load staticfiles %}
{% load title_edit %}
{% load snippet_edit %}
{% load date_edit %}
{% load url_edit_web %}
{% load onlineSections_edit %}

{% block search_results%}

<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

<!-- Custom styles for this template -->
<link href='{% static "css/offcanvas.css" %}' rel="stylesheet">

{% for result in results %}
    {% if result.thumbnailUrl|length > 0 %}
    <div class="my-3 p-3 bg-white rounded box-shadow bg-purple" data-id='{{result.id}}' data-url='{{ result.url }}' data-date='{{ result.dateLastCrawled }}' data-snippet='{{ result.snippet|safe }}' data-displayUrl='{{ result.displayUrl|title_edit }}' data-title='{{ result.name|title_edit }}'>
      <h6 class="border-bottom border-gray pb-2 mb-0"><a href="{{ result.url }}" target = "_blank" data-id='{{result.id}}' data-url='{{ result.url }}'>{{ result.name|title_edit }}</a><font style="font-size:12px;" color="#659663"> - {{ result.displayUrl|title_edit }}</font></h6>
      <div class="media text-muted pt-3">
        <img data-src="{{ result.thumbnailUrl }}" alt="64x64" class="mr-2 rounded" src="{{ result.thumbnailUrl }}" data-holder-rendered="true" style="width: 64px; height: 64px;">
        <p class="media-body pb-3 mb-0 small lh-125">
          <font style="font-size:14px;" color="#9E9E9E">{{ result.dateLastCrawled|date_edit }} - </font><font style="font-size:16px;">{{ result.snippet|safe }}</font>
        </p>
      </div>
      <small class="d-block text-right mt-3">
              <button class="btn btn-success" type="submit" name="sendresultsbtn">Send</button>
      </small>

    </div>

    {% else %}

    <div class="my-3 p-3 bg-white rounded box-shadow bg-purple" data-id='{{result.id}}' data-url='{{ result.url }}' data-date='{{ result.dateLastCrawled }}' data-snippet='{{ result.snippet|safe }}' data-displayUrl='{{ result.displayUrl|title_edit }}' data-title='{{ result.name|title_edit }}'>
      <h6 class="border-bottom border-gray pb-2 mb-0"><a href="{{ result.url }}" target = "_blank" data-id='{{result.id}}' data-url='{{ result.url }}'>{{ result.name|title_edit }}</a><font style="font-size:12px;" color="#659663"> - {{ result.displayUrl|title_edit }}</font></h6>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125">
          <font style="font-size:14px;" color="#9E9E9E">{{ result.dateLastCrawled|date_edit }} - </font><font style="font-size:16px;">{{ result.snippet|safe }}</font>
        </p>
      </div>
      <small class="d-block text-right mt-3">
              <button class="btn btn-success" type="submit" name="sendresultsbtn">Send</button>
      </small>
    </div>

    {% endif %}
{% endfor %}

<nav aria-label="Page navigation example">
  {% if results.has_other_pages%}
  <ul class = "pagination" id="pagination">
    <!--<span class="step-links">-->
        {% if results.has_previous %}
            <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&page={{ results.previous_page_number }}&searchbtn=" data-params="" data-page="{{ results.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="" data-page="0"><span>Previous</span></a></li>
        {% endif %}

        {% for result in results.paginator.page_range %}
            {% if results.number == result%}
                <li class="page-item active"><a class="page-link" href="" data-params="" data-page="{{ result }}"><span>{{ result }}<span class="sr-only">(current)</span></span></a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&page={{ result }}&searchbtn=" data-params="" data-page="{{ result }}">{{ result }}</a></li>
            {% endif %}
        {% endfor %}
        {% if results.has_next %}
            <a class="page-link" href="?q={{ request.GET.q }}&page={{ results.next_page_number }}&searchbtn=" data-params="" data-page="{{ results.next_page_number }}">Next</a>
        {% endif %}
    <!--</span>-->
  </ul>
  {% endif %}
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/interactions.js" %}"></script>

{%endblock%}
