{%block suggestion%}
<div class="tab-pane fade" id="task" role="tabpanel" aria-labelledby="task-tab">

                  <br>

                  <br>
        			<div class="row">

        			<div class="col-lg-6">
                		<form  method="GET" id="search3">
                          <h5 class="card-title">Search Database</h5>
                          <div class="input-group">
                            <input type="hidden" name="condition" value="3" />
                            <input type="text" class="form-control form-inline" placeholder="Search query here ..." name="q3" value="{{ request.GET.q }}">
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit" name="searchbtn">Search</button>
                            </span>
                          </div>

                        </form>
                	</div>


        	        <div class="col-lg-6">
        	            <form  method="GET" id = "clarification3">
                          <h5 class="card-title">Ask clarification questions</h5>
                          <div class="input-group">
                            <input type="text" class="form-control form-inline" placeholder="Ask your questions here ..." name="ques3" id ="suggestion_clarify_id">
                            <span class="input-group-btn">
                              <button class="btn btn-danger" type="submit" name="questionsbtn3">Question</button>
                            </span>
                          </div>

                        </form>
        	              <br>
        	              <hr>
        	              <br>
        	              <form method="GET" id = "suggestion3">
        	              <h5 class="card-title">Give suggestions</h5>
        	              <div class="input-group">
        	                <input type="text" class="form-control form-inline" placeholder="Give suggestions here ..." name="sugg" id ="suggestion_id">
        	                <span class="input-group-btn">
        	                  <button class="btn btn-info" type="submit" name="suggestbtn">Suggest</button>
        	                </span>
        	              </div>
        	            </form>
        	        </div>

        	    	</div>

                </div>
{%endblock%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
