<nav class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
  <a class="flex-sm-fill text-sm-center nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-expanded="true"><strong class="d-block text-gray-dark">Info_Only</strong></a>
  <a class="flex-sm-fill text-sm-center nav-link" id="dialog-tab" data-toggle="tab" href="#dialog" role="tab" aria-controls="dialog"><strong class="d-block text-gray-dark">Bot_Dialog</strong></a>
  <a class="flex-sm-fill text-sm-center nav-link" id="task-tab" data-toggle="tab" href="#task" role="tab" aria-controls="task"><strong class="d-block text-gray-dark">Bot_Task</strong></a>
</nav>
