{% load staticfiles %}
{% load title_edit %}
{% load snippet_edit %}
{% load onlineSections_edit%}
{% load date_edit %}
{% load url_edit %}

<html lang="en">
  <head>
    {% include 'wizard_head.html' %}
    {%block head%}
    {%endblock%}
  </head>

    <body>
    <div class="container">
          {% include 'nav_bar.html' %}
          {% block nav_bar%}
          {%endblock%}

          <div class="row">
            <div class="bd-callout bd-callout-info">
              hello world!
            </div>
          </div>

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static "js/tab_management.js" %}"></script>


</body>
</html>
