{% load staticfiles %}
{% load title_edit %}
{% load snippet_edit %}
{% load onlineSections_edit%}
{% load date_edit %}
{% load url_edit %}
<!DOCTYPE html>
<html lang="en" class="gr__getbootstrap_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Questionnaire Page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">

    <!-- Bootstrap core CSS -->

    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/offcanvas.css" %}' rel="stylesheet">
  </head>

  <body class="bg-light" data-gr-c-s-loaded="true">

    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
          <h4 class="mb-0 text-white lh-100">Questionnaire Page</h4>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <form method="GET">
          <div class="form-group row">
            <label for="user_id" class="col-sm-2 col-form-label">Enter your ID</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="user_id" id="user_id" placeholder="User ID" value="{{ request.GET.user_id }}">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Generate Forms</button>
            </div>
          </div>
        </form>
      </div>

      {% if questionnaire_pages %}
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
          <div class="col-12"><h3><a href="{{ entry_questionnaire }}" target = "_blank">Entry Questionnaire</a></h3></div>
          <br>
          <br>
          <div class="col-6 col-sm-3"><h3>Session 1</h3></div>
          <div class="col-6 col-sm-3"><h4><a href="{{ pre_task1 }}" target = "_blank">Pre-Task 1 Questionnaire</a></h4></div>
          <div class="col-6 col-sm-3"><h4><a href="{{ post_task1 }}" target = "_blank">Post-Task 1 Questionnaire</a></h4></div>

          <!-- Force next columns to break to new line -->
          <div class="w-100"></div>
          <br>
          <div class="col-6 col-sm-3"><h3>Session 2</h3></div>
          <div class="col-6 col-sm-3"><h4><a href="{{ pre_task2 }}" target = "_blank">Pre-Task 2 Questionnaire</a></h4></div>
          <div class="col-6 col-sm-3"><h4><a href="{{ post_task2 }}" target = "_blank">Post-Task 2 Questionnaire</a></h4></div>

          <div class="w-100"></div>
          <br>
          <div class="col-6 col-sm-3"><h3>Session 3</h3></div>
          <div class="col-6 col-sm-3"><h4><a href="{{ pre_task3 }}" target = "_blank">Pre-Task 3 Questionnaire</a></h4></div>
          <div class="col-6 col-sm-3"><h4><a href="{{ post_task3 }}" target = "_blank">Post-Task 3 Questionnaire</a></h4></div>
        </div>

      </div>

      {% endif %}

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="2" style="font-weight:bold;font-size:2pt;font-family:Arial, Helvetica, Open Sans, sans-serif">32x32</text></svg></body></html>
