{% load staticfiles %}
{%block wizard_head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Wizard Panel</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href='{% static "css/docs.min.css" %}' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{% static "css/navbar.css" %}'>
    <style>
      body {
          background-color: #FAFAFA;
      }

      .container {
          background-color: #FAFAFA;
          width: 1400px;
          padding-left: 50px;
      }
      hr {
		    border: none;
		    height: 2.5px;
		    /* Set the hr color */
		    color: #b0d3e6; /* old IE */
		    background-color: #696969; /* Modern Browsers */
		}
		h1{
			font-family: 'Shadows Into Light', cursive;
		}
    .bd-calloutFilter{
        background-color: white;
        padding:1.25rem;
        margin-top:1.25rem;
        margin-bottom:1.25rem;
        border:1px solid #eee;
        border-top-width:.25rem;
        border-radius:.25rem;
        border-top-color:black
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
{%endblock%}
