{% load staticfiles %}
{% load title_edit %}
{% load snippet_edit %}
{% load onlineSections_edit%}
{% load date_edit %}
{% load url_edit %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'wizard_head.html' %}
    {%block head%}
    {%endblock%}
  </head>

    <body>
    <div class="container">
          {% include 'wizard_nav_bar.html' %}
          {% block nav_bar%}
          {%endblock%}

        <div class="row">

          <div class="col-lg-10">

            <div class="bd-callout bd-callout-info">
              {%include 'tab_list.html'%}
              {%block nav_list%}
              {%endblock%}

              <div class="tab-content" id="myTabContent">

                {%include 'search_tab.html'%}
                {%block search_tab%}
                {%endblock%}

                {%include 'clarification_tab.html'%}
                {%block clarification%}
                {%endblock%}

                {%include 'suggestion_tab.html'%}
                {%block suggestion%}
                {%endblock%}
              </div>
            </div>

  <!-- Here I am printing out all the results that the wizard is able to see when they type the query.-->
            <div name = "results_here" id ="getresults">
                {% include 'search_results.html' %}

                {% block search_results%}
                {%endblock%}


            </div> <!--   This is the end of the results div-->

          </div>
      </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static "js/tab_management.js" %}"></script>

<script type="text/javascript" src="{% static "js/search_queries.js" %}"></script>

<script type="text/javascript" src="{% static "js/chat_messages.js" %}"></script>

</body>
</html>
