{%block wizard_nav_bar%}
<nav class="navbar sticky-top navbar-light bg-faded" style="background-color: white;">
            <h1 class="navbar-brand" size="12"><div style="font-family: 'Cinzel Decorative';"><font size="6">Wizard Panel</font></div></h1>
            <br>
        <div class="collapse navbar-collapse" id="navbarText">
          <span class="navbar-text">
            Hello {{request.session.wizard_id}}, welcome to your panel. Current session is: [{{request.session.session_id}}]. <a href="{% url 'wizard_login' %}">Logout.</a>
          </span>
        </div>
</nav>
{%endblock%}
