{% load staticfiles %}
{% load title_edit %}
{% load snippet_edit %}
{% load onlineSections_edit%}
{% load date_edit %}
{% load url_edit %}

<!DOCTYPE html>
<html lang="en" class="gr__getbootstrap_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Wizard Panel</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
    <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/offcanvas.css" %}' rel="stylesheet">
  </head>

  <body class="bg-light" data-gr-c-s-loaded="true">

    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Wizard Login Panel</h6>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <form method="GET">
          <div class="form-group row">
            <label for="wizard_id" class="col-sm-2 col-form-label">Enter your Wizard ID</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="wizard_id" id="wizard_id" placeholder="Wizard ID">
            </div>
          </div>
          <div class="form-group row">
            <label for="session_id" class="col-sm-2 col-form-label">Enter your Session ID</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="session_id" id="session_id" placeholder="Session ID">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>

      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script src='{% static "js/jquery-3.2.1.slim.min.js" %}' integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src='{% static "js/jquery-3.2.1.slim.min.js" %}'><\/script>')</script>
<script src='{% static "js/popper.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/holder.min.js" %}'></script>
<script src='{% static "js/offcanvas.js" %}'></script>

<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="2" style="font-weight:bold;font-size:2pt;font-family:Arial, Helvetica, Open Sans, sans-serif">32x32</text></svg></body></html>
