{% load staticfiles %}
{% load title_edit %}
{% load snippet_edit %}
{% load onlineSections_edit%}
{% load date_edit %}
{% load url_edit %}
<!DOCTYPE html>
<html lang="en" class="gr__getbootstrap_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Wizard Panel</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">

    <!-- Bootstrap core CSS -->

    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/offcanvas.css" %}' rel="stylesheet">
  </head>

  <body class="bg-light" data-gr-c-s-loaded="true">

    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
          <h4 class="mb-0 text-white lh-100">Wizard Panel</h4>
          <small>Hello {{request.session.wizard_id}}, welcome to your panel. Current session is: [{{request.session.session_id}}]. <a href="{% url 'wizard_login' %}" style="color:yellow">Logout.</a></small>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded box-shadow">
        {%include 'tab_list.html'%}
        {%block nav_list%}
        {%endblock%}
        <div class="tab-content" id="myTabContent">
          {%include 'search_tab.html'%}
          {%block search_tab%}
          {%endblock%}

          {%include 'clarification_tab.html'%}
          {%block clarification%}
          {%endblock%}

          {%include 'suggestion_tab.html'%}
          {%block suggestion%}
          {%endblock%}
        </div>

      </div>

      <div name = "results_here" id ="getresults">
          {% include 'search_results.html' %}
          {% block search_results%}
          {%endblock%}
      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src="{% static "js/tab_management.js" %}"></script>
    <script type="text/javascript" src="{% static "js/search_queries.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chat_messages.js" %}"></script>

<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="2" style="font-weight:bold;font-size:2pt;font-family:Arial, Helvetica, Open Sans, sans-serif">32x32</text></svg></body></html>
