{% load staticfiles %}
{% load title_edit %}
{% load snippet_edit %}
{% load date_edit %}
{% load url_edit_web %}
{% load onlineSections_edit %}
{% block pagination %}
<!--<div class="pagination">-->
          <nav aria-label="Page navigation example">
            {% if results.has_other_pages%}
            <ul class = "pagination">
              <!--<span class="step-links">-->
                  {% if results.has_previous %}
                      <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&page={{ results.previous_page_number }}&searchbtn=" data-page="{{ results.previous_page_number }}">Previous</a></li>
                  {% else %}
                      <li class="page-item disabled"><a class="page-link" href="" data-page="0"><span>Previous</span></a></li>
                  {% endif %}

                  <!--<span class="current">
                      Page {{ results.number }} of {{ results.paginator.num_pages }}.
                  </span> -->
                  {% for result in results.paginator.page_range %}
                      {% if results.number == result%}
                          <li class="page-item active"><a class="page-link" href="" data-page="{{ result }}"><span>{{ result }}<span class="sr-only">(current)</span></span></a></li>
                      {% else %}
                          <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&page={{ result }}&searchbtn=" data-page="{{ result }}">{{ result }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if results.has_next %}
                      <a class="page-link" href="?q={{ request.GET.q }}&page={{ results.next_page_number }}&searchbtn=" data-page="{{ results.next_page_number }}">Next</a>
                  {% endif %}
              <!--</span>-->
            </ul>
            {% endif %}
          </nav>
<!--</div>-->
{% endblock%}
