{%block wizard_login_nav_bar%}
<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md" style="background-color: white;">

            <h1 class="navbar-brand" size="12"><div style="font-family: 'Cinzel Decorative';"><font size="6">Wizard Panel</font></div></h1>
            <br>
</nav>
{%endblock%}
