body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
  padding-top: 20px; 
}

.navbar {
  margin-bottom: 20px;
  margin-top: : 20px;
  border:1px solid #E0E0E0;
  
}
.navbar-brand
    {
      font-size: x-large;
      font-family: 'Ubuntu', sans-serif;
    }
